External_Validation_Service/Resources/ConfigData/ObjectMetaData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObjectMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EvsSpecificMetaData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DicomBinaryObjectDataType" type="xs:string" />
              <xs:element name="DicomSopClassUid" type="xs:string" />
              <xs:element name="DicomSopInstanceUid" type="xs:string" />
              <xs:element name="DicomTransferSyntaxUid" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>