External_Validation_Service/Resources/ConfigData/ReferencedStandard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReferencedStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StandardName" type="xs:string" />
        <xs:element name="StandardVersion" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>