External_Validation_Service/Resources/ConfigData/ValidationContext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidationContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GenerateSummaryResults" type="xs:boolean" />
        <xs:element name="GenerateDetailedResults" type="xs:boolean" />
        <xs:element name="EvsSpecificContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>